<div class="google-map">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.153287045156!2d-89.21338842477607!3d13.692430286689633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63302ffa81b8c5%3A0x6e3e1e2e4e4e4e4e!2sSan%20Salvador%2C%20El%20Salvador!5e0!3m2!1sen!2ssv!4v1234567890" 
    width="100%" 
    height="400" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
    title="Ubicación de Alex Renta Cars en San Salvador"
  ></iframe>
</div>

<style>
  .google-map {
    width: 100%;
    height: 400px;
  }
  
  .google-map iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>